{% comment %}
===============================
Modifying this file directly can cause problems with Wholesale Gorilla, and is not recommended.  
Do not delete unless Wholesale Gorilla has been uninstalled.
===============================
{% endcomment %}
<div class="wsg-one-half wsg-center">
    <h1>{{ section.settings.page-title }}</h1>
    {{ section.settings.description }}
    {% if section.settings.image != blank %}
    <div class="registration-form-img-container">
      <img src="{{ section.settings.image | img_url: '' }}" />
    </div>
    {% endif %}
    {{ section.settings.custom-html }}
    <hr class='wsg-one-third wsg-element-margin'>
</div>

<style>
  .registration-form-img-container img {
    width: 100% !important;
    object-fit: cover;
  }
</style>

{% schema %}
  {
    "name": {
      "en": "WSG Registration Settings",
      "ru": "#ru_WSG Registration Settings",
      "es": "#es_WSG Registration Settings",
      "pt": "#pt_WSG Registration Settings",
      "no": "#no_WSG Registration Settings",
      "it": "#it_WSG Registration Settings",
      "hu": "#hu_WSG Registration Settings",
      "he": "#he_WSG Registration Settings",
      "el": "#el_WSG Registration Settings",
      "de": "#de_WSG Registration Settings",
      "fr": "#fr_WSG Registration Settings",
      "fi": "#fi_WSG Registration Settings",
      "nl": "#nl_WSG Registration Settings"
    },
    "limit": 1,
    "settings": [
      {
        "id": "page-title",
        "type": "text",
        "label": {
          "en": "Page Title",
          "ru": "#ru_Page Title",
          "es": "#es_Page Title",
          "pt": "#pt_Page Title",
          "no": "#no_Page Title",
          "it": "#it_Page Title",
          "hu": "#hu_Page Title",
          "he": "#he_Page Title",
          "el": "#el_Page Title",
          "de": "#de_Page Title",
          "fr": "#fr_Page Title",
          "fi": "#fi_Page Title",
          "nl": "#nl_Page Title"
        },
        "default": {
          "en": "Apply for a Wholesale Account",
          "ru": "Зарегистрироваться в качестве оптового клиента",
          "es": "Solicite una cuenta mayorista",
          "pt": "Cadastrar conta para Atacado",
          "no": "Søk om en forhandlerkonto",
          "it": "Registrazione professionisti",
          "hu": "Jelentkezés nagykereskedelmi fiókra",
          "he": "פתיחת חשבון סיטונאי",
          "el": "Αίτηση για λογαριασμό χονδρικής",
          "de": "Händlerkonto beantragen",
          "fr": "Ouvrir un compte Revendeur",
          "fi": "Hae jälleenmyyjäksi",
          "nl": "Zakelijke login aanvragen"
        }
      },
      {
        "id": "description",
        "type": "richtext",
        "label": {
          "en": "Description",
          "ru": "#ru_Description",
          "es": "#es_Description",
          "pt": "#pt_Description",
          "no": "#no_Description",
          "it": "#it_Description",
          "hu": "#hu_Description",
          "he": "#he_Description",
          "el": "#el_Description",
          "de": "#de_Description",
          "fr": "#fr_Description",
          "fi": "#fi_Description",
          "nl": "#nl_Description"
        },
        "default": {
          "en": "<p>Use this form to apply for a wholesale account.</p>",
          "ru": "<p>Используйте эту форму, чтобы подать заявку на открытие оптового счета.</p>",
          "es": "<p>#es_Use this form to apply for a wholesale account.</p>",
          "pt": "<p>#pt_Use this form to apply for a wholesale account.</p>",
          "no": "<p>#no_Use this form to apply for a wholesale account.</p>",
          "it": "<p>#it_Use this form to apply for a wholesale account.</p>",
          "hu": "<p>#hu_Use this form to apply for a wholesale account.</p>",
          "he": "<p>#he_Use this form to apply for a wholesale account.</p>",
          "el": "<p>#el_Use this form to apply for a wholesale account.</p>",
          "de": "<p>#de_Use this form to apply for a wholesale account.</p>",
          "fr": "<p>#fr_Use this form to apply for a wholesale account.</p>",
          "fi": "<p>#fi_Use this form to apply for a wholesale account.</p>",
          "nl": "<p>#nl_Use this form to apply for a wholesale account.</p>"
        }
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": {
          "en": "Image",
          "ru": "#ru_Image",
          "es": "#es_Image",
          "pt": "#pt_Image",
          "no": "#no_Image",
          "it": "#it_Image",
          "hu": "#hu_Image",
          "he": "#he_Image",
          "el": "#el_Image",
          "de": "#de_Image",
          "fr": "#fr_Image",
          "fi": "#fi_Image",
          "nl": "#nl_Image"
        }
      },
      {
        "id": "custom-html",
        "type": "html",
        "label": {
          "en": "Custom HTML",
          "ru": "#ru_Custom HTML",
          "es": "#es_Custom HTML",
          "pt": "#pt_Custom HTML",
          "no": "#no_Custom HTML",
          "it": "#it_Custom HTML",
          "hu": "#hu_Custom HTML",
          "he": "#he_Custom HTML",
          "el": "#el_Custom HTML",
          "de": "#de_Custom HTML",
          "fr": "#fr_Custom HTML",
          "fi": "#fi_Custom HTML",
          "nl": "#nl_Custom HTML"
        },
        "info" : {
          "en": "Advanced users only.  Add html to the page.",
          "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        }
      }
    ]
  }
{% endschema %}
